# 10 Minutes to mooda

This is a introduction to mooda and the WaterFrame.

A WaterFrame contains three essential elements:

* A pandas DataFrame, located into WaterFrame.data
* A metadata dictionary, located into WaterFrame.metadata
* A meaning dictionary, located into WaterFrame.meaning

The **metadata dictionary** contains information about the DataFrame, i.e. The location of the measurements, the instrument models, some extra notes.

The **meaning dictionary** contains information about the meaning of the keys of the DataFrame. For example, if the DataFrame contains a key called "TEMP", in the meaning dictionary will be the information that explains that "TEMP" means "Seawater temperature."

There are two types of columns in the pandas DataFrame:

* **Parameter columns**: Columns that contain values of a parameter. The key of the column is the name of the parameter.
* **Quality Control columns**: Columns that contain the Quality Control Flag of the values of a parameter. The key of the column is named such as **{parameter name}_QC**.

The **index** of the pandas DataFrame must be **TIME**.

Customarily, we import as follows:

In [165]:
from mooda import WaterFrame
import numpy as np
import pandas as pd

## Object creation

Creating an empty [WaterFrame](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/__init__.md):

In [166]:
wf0 = WaterFrame()
wf0

Memory usage: 264.00 Bytes
There is no data.

Creating a [WaterFrame](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/__init__.md) from a [pandas DataFrame]((https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/from_dataframe.md)), a metadata dictionary and a meanings dictionary:

In [167]:
# Creating a DataFrame
number_of_values = 10
dates = pd.date_range('20180101000000', periods=number_of_values)
x = np.linspace(-np.pi, 4*np.pi, number_of_values)
df = pd.DataFrame({'TEMP': np.sin(x)+10, 'PSAL': np.cos(x)*2 + 30}, index=dates)
df.index.name = 'TIME'

# Creating metadata information
metadata = dict()
metadata['instrument'] = 'CTD'
metadata['latitude'] = '42.03'
metadata['longitude'] = '2.11'

# Creating parameter meanings
meaning = dict()
meaning['TEMP'] = {'long_name': 'sea_water_temperature',
                    'units': 'degree_celsius'}
meaning['PSAL'] = {'long_name': 'sea_water_practical_salinity',
                   'units': 'PSU'}

# Creating the WaterFrame
wf1 = WaterFrame(df=df, metadata=metadata, meaning=meaning)
wf1

Memory usage: 664.00 Bytes
Parameters:
  - TEMP: sea_water_temperature (degree_celsius)
    - Min value: 9.015
    - Date min value: 2018-01-02 00:00:00
    - Max value: 10.866
    - Date max value: 2018-01-04 00:00:00
    - Mean value: 9.916
    - Values with QC = 1: 0.000 %
  - PSAL: sea_water_practical_salinity (PSU)
    - Min value: 28.000
    - Date min value: 2018-01-01 00:00:00
    - Max value: 32.000
    - Date max value: 2018-01-10 00:00:00
    - Mean value: 30.000
    - Values with QC = 1: 0.000 %

Creating a [WaterFrame](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/__init__.md) from a [NetCDF](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/from_netcdf.md) file:

In [168]:
path_netcdf = r"C:\Users\rbard\Google Drive\ok\git\mooda\docs\examples\example_data\example.nc"
wf2 = WaterFrame(path=path_netcdf)
wf2

Memory usage: 584.00 Bytes
Parameters:
  - TEMP: sea_water_temperature (degree_celsius)
    - Min value: 9.015
    - Date min value: 2018-01-02 00:00:00
    - Max value: 10.866
    - Date max value: 2018-01-04 00:00:00
    - Mean value: 9.916
    - Values with QC = 1: 0.000 %
  - PSAL: sea_water_practical_salinity (PSU)
    - Min value: 28.000
    - Date min value: 2018-01-01 00:00:00
    - Max value: 32.000
    - Date max value: 2018-01-10 00:00:00
    - Mean value: 30.000
    - Values with QC = 1: 0.000 %

Creating a [WaterFrame](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/__init__.md) from a [CSV](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/from_csv.md) file:

In [169]:
path_csv = r"C:\Users\rbard\Google Drive\ok\git\mooda\docs\examples\example_data\example.csv"
wf3 = WaterFrame()
wf3.from_csv(path_csv, comment="#", sep=";", index_col=0)
wf3

Memory usage: 1.41 KBytes
Parameters:
  - TEMP: Parameter without meaning
    - Min value: 9.015
    - Date min value: 2018-01-02
    - Max value: 10.866
    - Date max value: 2018-01-04
    - Mean value: 9.916
    - Values with QC = 1: 0.000 %
  - PSAL: Parameter without meaning
    - Min value: 28.000
    - Date min value: 2018-01-01
    - Max value: 32.000
    - Date max value: 2018-01-10
    - Mean value: 30.000
    - Values with QC = 1: 0.000 %

## Viewing data

Display the [metadata information](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/info_metadata.md):

In [170]:
print("METADATA:")
print(wf1.info_metadata())

METADATA:
  - instrument: CTD
  - latitude: 42.03
  - longitude: 2.11

Display the [meaning information](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/info_meaning.md):

In [171]:
print("MEANING:")
print(wf1.info_meaning())

MEANING:
  - TEMP
    - long_name: sea_water_temperature
    - units: degree_celsius
  - PSAL
    - long_name: sea_water_practical_salinity
    - units: PSU

[parameters()](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/parameters.md) returns a list with the keys of the DataFrame, but expluding the QC columns.

In [172]:
wf1.parameters()

['TEMP', 'PSAL']

Checking the [min](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/min.md), [max](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/max.md) and [mean](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/mean.md) of a parameter:

In [173]:
time_min, value_min = wf.min('TEMP')
time_max, value_max = wf.max('TEMP')
value_mean = wf.mean('TEMP')

print("TEMPERATURE INFO:")
print(f"Min value: {value_min}, at {time_min}")
print(f"Max value: {value_max}, at {time_max}")
print(f"Mean value: {value_mean}")

TEMPERATURE INFO:
Min value: 9.015192246987793, at 2018-01-02
Max value: 10.86602540378444, at 2018-01-04
Mean value: 9.916090036882272

Know how many RAM [memory](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/momory_usage.md) is using the WaterFrame.

In [174]:
print(wf1.memory_usage(), "Bytes")

664 Bytes

## Selection

### Getting metadata

Here is how to access to the metadata diccionary:

In [175]:
wf1.metadata

{'instrument': 'CTD', 'latitude': '42.03', 'longitude': '2.11'}

Adding new element to the metadata:

In [176]:
wf1.metadata['new information'] = 'example of indformation'
wf1.metadata

{'instrument': 'CTD',
 'latitude': '42.03',
 'longitude': '2.11',
 'new information': 'example of indformation'}

Deleting an element of the metadata:

In [177]:
del wf1.metadata['new information']
wf1.metadata

{'instrument': 'CTD', 'latitude': '42.03', 'longitude': '2.11'}

### Getting meaning

Here is how to access to the meaning dictionary:

In [178]:
wf1.meaning

{'TEMP': {'long_name': 'sea_water_temperature', 'units': 'degree_celsius'},
 'PSAL': {'long_name': 'sea_water_practical_salinity', 'units': 'PSU'}}

Display an element of meaning:

In [179]:
wf1.meaning['TEMP']

{'long_name': 'sea_water_temperature', 'units': 'degree_celsius'}

In [180]:
wf1.meaning['TEMP']['long_name']

'sea_water_temperature'

Adding new element to meaning:

In [181]:
wf.meaning['TEMP']['other_name'] = 'other name for the parameter'
wf.meaning['TEMP']

{'long_name': 'sea_water_temperature',
 'units': 'degree_celsius',
 'other_name': 'other name for the parameter'}

Delete an element of meaning:

In [182]:
del wf.meaning['TEMP']['other_name']
wf.meaning['TEMP']

{'long_name': 'sea_water_temperature', 'units': 'degree_celsius'}

### Getting data

WaterFrame.data is a pandas DataFrame. You can use all the pandas Dataframe methods.
This is how to access to the DataFrame:

In [183]:
wf1.data

                 TEMP       PSAL  TEMP_QC  PSAL_QC
TIME
2018-01-01  10.000000  28.000000        0        0
2018-01-02   9.015192  30.347296        0        0
2018-01-03  10.342020  31.879385        0        0
2018-01-04  10.866025  29.000000        0        0
2018-01-05   9.357212  28.467911        0        0
2018-01-06   9.357212  31.532089        0        0
2018-01-07  10.866025  31.000000        0        0
2018-01-08  10.342020  28.120615        0        0
2018-01-09   9.015192  29.652704        0        0
2018-01-10  10.000000  32.000000        0        0

However, you can select a single column, which yields a Series, equivalent to *wf.data.TEMP*:

In [184]:
wf1['TEMP']

TIME
2018-01-01    10.000000
2018-01-02     9.015192
2018-01-03    10.342020
2018-01-04    10.866025
2018-01-05     9.357212
2018-01-06     9.357212
2018-01-07    10.866025
2018-01-08    10.342020
2018-01-09     9.015192
2018-01-10    10.000000
Freq: D, Name: TEMP, dtype: float64

Selecting via [], which slices the rows.

In [185]:
wf1[0:3]

                 TEMP       PSAL  TEMP_QC  PSAL_QC
TIME
2018-01-01  10.000000  28.000000        0        0
2018-01-02   9.015192  30.347296        0        0
2018-01-03  10.342020  31.879385        0        0

#### Boolean Indexing

Using a single columnâ€™s values to select data.

In [186]:
wf1[wf['TEMP'] > 10]

                 TEMP       PSAL  TEMP_QC  PSAL_QC
TIME
2018-01-03  10.342020  31.879385        0        0
2018-01-04  10.866025  29.000000        0        0
2018-01-07  10.866025  31.000000        0        0
2018-01-08  10.342020  28.120615        0        0

Using the isin() method for filtering:

In [187]:
wf1_copy = wf1.copy()
wf1_copy['filter'] = [1, 1 ,1 , 1, 0, 0, 0, 0, 1, 1]
wf1_copy.data

                 TEMP       PSAL  TEMP_QC  PSAL_QC  filter
TIME
2018-01-01  10.000000  28.000000        0        0       1
2018-01-02   9.015192  30.347296        0        0       1
2018-01-03  10.342020  31.879385        0        0       1
2018-01-04  10.866025  29.000000        0        0       1
2018-01-05   9.357212  28.467911        0        0       0
2018-01-06   9.357212  31.532089        0        0       0
2018-01-07  10.866025  31.000000        0        0       0
2018-01-08  10.342020  28.120615        0        0       0
2018-01-09   9.015192  29.652704        0        0       1
2018-01-10  10.000000  32.000000        0        0       1

In [188]:
wf1_copy[wf1_copy['filter'].isin(['1'])]

                 TEMP       PSAL  TEMP_QC  PSAL_QC  filter
TIME
2018-01-01  10.000000  28.000000        0        0       1
2018-01-02   9.015192  30.347296        0        0       1
2018-01-03  10.342020  31.879385        0        0       1
2018-01-04  10.866025  29.000000        0        0       1
2018-01-09   9.015192  29.652704        0        0       1
2018-01-10  10.000000  32.000000        0        0       1

### Settings

Setting a new column automatically aligns the data by the indexes.

In [189]:
wf1_copy2 = wf1.copy()
wf1_copy2['DEPTH'] = 1
wf1_copy2['DEPTH_QC'] = 0
depth_meaning = {'long_name': 'Depth of the water column',
                 'units': 'meters'}
wf1_copy2.meaning['DEPTH'] = depth_meaning
wf1_copy2.data.head()

                 TEMP       PSAL  TEMP_QC  PSAL_QC  DEPTH  DEPTH_QC
TIME
2018-01-01  10.000000  28.000000        0        0      1         0
2018-01-02   9.015192  30.347296        0        0      1         0
2018-01-03  10.342020  31.879385        0        0      1         0
2018-01-04  10.866025  29.000000        0        0      1         0
2018-01-05   9.357212  28.467911        0        0      1         0

## Operations

[Dropping ](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/drop.md) a parameter:

In [190]:
wf1_copy2

Memory usage: 824.00 Bytes
Parameters:
  - TEMP: sea_water_temperature (degree_celsius)
    - Min value: 9.015
    - Date min value: 2018-01-02 00:00:00
    - Max value: 10.866
    - Date max value: 2018-01-04 00:00:00
    - Mean value: 9.916
    - Values with QC = 1: 0.000 %
  - PSAL: sea_water_practical_salinity (PSU)
    - Min value: 28.000
    - Date min value: 2018-01-01 00:00:00
    - Max value: 32.000
    - Date max value: 2018-01-10 00:00:00
    - Mean value: 30.000
    - Values with QC = 1: 0.000 %
  - DEPTH: Depth of the water column (meters)
    - Min value: 1.000
    - Date min value: 2018-01-01 00:00:00
    - Max value: 1.000
    - Date max value: 2018-01-01 00:00:00
    - Mean value: 1.000
    - Values with QC = 1: 0.000 %

In [191]:
wf1_copy2.drop('DEPTH')
wf1_copy2

Memory usage: 664.00 Bytes
Parameters:
  - TEMP: sea_water_temperature (degree_celsius)
    - Min value: 9.015
    - Date min value: 2018-01-02 00:00:00
    - Max value: 10.866
    - Date max value: 2018-01-04 00:00:00
    - Mean value: 9.916
    - Values with QC = 1: 0.000 %
  - PSAL: sea_water_practical_salinity (PSU)
    - Min value: 28.000
    - Date min value: 2018-01-01 00:00:00
    - Max value: 32.000
    - Date max value: 2018-01-10 00:00:00
    - Mean value: 30.000
    - Values with QC = 1: 0.000 %

[Using only](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/use_only.md) the selected parameters:

In [192]:
wf1_copy2.use_only('TEMP')
wf1_copy2

Memory usage: 504.00 Bytes
Parameters:
  - TEMP: sea_water_temperature (degree_celsius)
    - Min value: 9.015
    - Date min value: 2018-01-02 00:00:00
    - Max value: 10.866
    - Date max value: 2018-01-04 00:00:00
    - Mean value: 9.916
    - Values with QC = 1: 0.000 %

[Renaming](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/rename.md) a parameter:

In [193]:
wf1_copy2.rename('TEMP', 'TEMPERATURE')
wf1_copy2

Memory usage: 504.00 Bytes
Parameters:
  - TEMPERATURE: sea_water_temperature (degree_celsius)
    - Min value: 9.015
    - Date min value: 2018-01-02 00:00:00
    - Max value: 10.866
    - Date max value: 2018-01-04 00:00:00
    - Mean value: 9.916
    - Values with QC = 1: 0.000 %

[Resamplig](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/resample.md) data:

In [194]:
wf1_copy2.data.head()

            TEMPERATURE  TEMPERATURE_QC
TIME
2018-01-01    10.000000               0
2018-01-02     9.015192               0
2018-01-03    10.342020               0
2018-01-04    10.866025               0
2018-01-05     9.357212               0

In [195]:
# One data every 2 days. It calculates the mean of the values. 
wf1_copy2.resample('2D')
wf1_copy2.data.head()

            TEMPERATURE  TEMPERATURE_QC
TIME
2018-01-01     9.507596               0
2018-01-03    10.604023               0
2018-01-05     9.357212               0
2018-01-07    10.604023               0
2018-01-09     9.507596               0

[Slicing](https://github.com/rbardaji/mooda/blob/master/docs/api_reference/waterframe/slice_time.md) time data:

In [196]:
wf1.data

                 TEMP       PSAL  TEMP_QC  PSAL_QC
TIME
2018-01-01  10.000000  28.000000        0        0
2018-01-02   9.015192  30.347296        0        0
2018-01-03  10.342020  31.879385        0        0
2018-01-04  10.866025  29.000000        0        0
2018-01-05   9.357212  28.467911        0        0
2018-01-06   9.357212  31.532089        0        0
2018-01-07  10.866025  31.000000        0        0
2018-01-08  10.342020  28.120615        0        0
2018-01-09   9.015192  29.652704        0        0
2018-01-10  10.000000  32.000000        0        0

In [197]:
wf1.slice_time(start="20180103000000", end="20180108000000")
wf1.data

                 TEMP       PSAL  TEMP_QC  PSAL_QC
TIME
2018-01-03  10.342020  31.879385        0        0
2018-01-04  10.866025  29.000000        0        0
2018-01-05   9.357212  28.467911        0        0
2018-01-06   9.357212  31.532089        0        0
2018-01-07  10.866025  31.000000        0        0