## Create WaterFrame object from ERDDAP

Demo of usage of the method `from_erddap` that simplifies the data request.

In this first demostration, we collect data from the dataset "SBE 37 CTD Data" that is hosted in the ERDDAP Server:
http://erddap.emso.eu/erddap/tabledap/SBE37_cb46_2bc4_0b4f.html

The `from_erddap` method, receives the following parameters

```
    Parameters
    ----------
    
        server     : The ERDDAP server URL        
        dataset_id : The dataset id to query
        
    Optional Parameters
    -------------------
    
        variables  : List of variables to get from ERDDAP server, it can be comma 
                    separated string or a list.
        constraints : Query constraints to appy to the ERDDAP query, this can be 
                      list or dictionary.
        read_csv_kwargs : Dictionary with the parameters to pass to the read_csv 
                          function that converts the ERDDAP response to pandas 
                          DataFrame
        auth : Tupple with username and password to authenticate to a protected ERDDAP server.
```

This method uses the erddap-python library to make the metadata, and data requests, in this method we assume that the dataset is a Tabledap Dataset, and only use ERDDAP constraints to build the query.  

A WaterFrame object is returned with the data property with the DataFrame result of the query (With the time variable as index, if it's available). 

ERDDAP offers "server side functions" to affect the results (orderBy, orderByClosest, orderByMean, etc) this functionality is not currently accesible thru the `from_erddap` method.

In [1]:
from mooda.input import from_erddap

emso_erddap_url = 'http://erddap.emso.eu/erddap'
dataset_id = 'SBE37_cb46_2bc4_0b4f'

wf = from_erddap(emso_erddap_url, 
                 dataset_id,
                 constraints=[ {'time>=' : '2017-11-28T00:00:00Z'} , { 'time<=' : '2017-12-05T07:31:41Z' } ])

wf

Memory usage: 1.771 MBytes
Parameters:

In [5]:
from pprint import pprint 

pprint(wf.vocabulary)

OrderedDict([('time',
              {'_CoordinateAxisType': 'Time',
               '_dataType': 'double',
               'actual_range': (cftime.DatetimeGregorian(2009, 5, 29, 18, 35, 42, 0),
                                cftime.DatetimeGregorian(2017, 12, 5, 7, 31, 41, 0)),
               'axis': 'T',
               'ioos_category': 'Time',
               'long_name': 'Date/Time',
               'source_name': 'Date/Time',
               'standard_name': 'time',
               'time_origin': '01-JAN-1970 00:00:00',
               'time_precision': '1970-01-01T00:00:00Z',
               'units': 'seconds since 1970-01-01T00:00:00Z'}),
             ('temperature',
              {'_dataType': 'float',
               'actual_range': (11.7101, 27.1452),
               'ioos_category': 'Temperature',
               'long_name': 'sea_water_temperature',
               'units': 'degC'}),
             ('conductivity',
              {'_dataType': 'float',
               'actual_range': (29.3952, 59.5073),
               'ioos_category': 'Other',
               'long_name': 'sea_water_eletrical_conductivity',
               'units': 'mS/cm'}),
             ('pressure',
              {'_dataType': 'float',
               'actual_range': (3.21, 21.708),
               'ioos_category': 'Pressure',
               'long_name': 'sea_water_pressure',
               'units': 'dbar'}),
             ('salinity',
              {'_dataType': 'float',
               'actual_range': (22.3408, 1539.23),
               'ioos_category': 'Salinity',
               'long_name': 'sea_water_salinity',
               'units': 'PSU'}),
             ('sound_velocity',
              {'_dataType': 'float',
               'actual_range': (1495.755, 1542.9),
               'ioos_category': 'Other',
               'long_name': 'speed_of_sound_in_seawater',
               'units': 'm/s'}),
             ('pH',
              {'_dataType': 'float',
               'ioos_category': 'Other',
               'long_name': 'sea_water_pH',
               'units': 'dmless'})])

In [3]:
# WaterFrame normal usage

wf.plot_timeseries()

# WaterFrame datasets expect to have a DEPTH variable?, Can pressure be ussed instead? 
# The time variable by convention needs to be in uppercase TIME?

KeyError: 'DEPTH'

## Demo 2 of from_errddap method

Sample of types of arguments accepted, powered by the erddap-python library

In [6]:
import datetime as dt 

variables = ['time', 'pressure'] 
# datetime format can be used for all time constraints
timemin = dt.datetime(2017,11,1)

# ERDDAP constraint keywords are accepted
# Refer to https://coastwatch.pfeg.noaa.gov/erddap/tabledap/documentation.html#query
timemax = 'max(time)-1months' 

wf2 = from_erddap(emso_erddap_url, 
                  dataset_id,
                  constraints=[ {'time>=' : timemin} , { 'time<' : timemax } ])

wf2

Memory usage: 1.045 MBytes
Parameters:

## erddap-python request to WaterFrame object

This demo is to show how to get advantage of the server side functionality that ERDDAP offers, all that thru the erddap-python methods

In [7]:
from erddapClient import ERDDAP_Tabledap 

remote = ERDDAP_Tabledap(emso_erddap_url, dataset_id)

# Show the global metadata
remote.info

OrderedDict([('area', 'Mediterranean'),
             ('author', 'Universitat Politecnica de Catalunya (UPC)'),
             ('cdm_data_type', 'Other'),
             ('contact', 'enoc.martinez@upc.edu'),
             ('Conventions', 'COARDS, CF-1.6, ACDD-1.3, NCCSV-1.0'),
             ('defaultGraphQuery',
              'time%2Ctemperature%2C&time>=2017-11-29T00%3A00%3A00Z&time<=2017-12-06T00%3A00%3A00Z&.draw=lines&.marker=5|5&.color=0x000000&.colorBar=|||||&.bgColor=0xffccccff'),
             ('geospatial_lat_max', '41.18212'),
             ('geospatial_lat_min', '41.18212'),
             ('geospatial_lon_max', '1.75257'),
             ('geospatial_lon_min', '1.75257'),
             ('infoUrl', 'http://www.obsea.es'),
             ('institution',
              'SARTI Research Group. Electronics Dept. Universitat Politecnica de Catalunya (UPC)'),
             ('institution_edmo_code', '2150'),
             ('institution_references',
              'http://www.obsea.es/, http://cdsarti.org/'),
             ('keywords',
              'conductivity, CTD, OBSEA, pressure, salinity, sound_velocity, temperature, UPC'),
             ('license',
              'Creative Commons Attribution 4.0 International (CC-BY-4.0)'),
             ('pi_name', 'Joaquin del Rio, joaquin.del.rio@upc.edu'),
             ('platform_code', 'OBSEA'),
             ('site_code', 'OBSEA'),
             ('sourceUrl', '(local files)'),
             ('standard_name_vocabulary', 'CF Standard Name Table v55'),
             ('summary', 'CTD Data acquired by a SBE 37 at OBSEA'),
             ('time_coverage_end', '2017-12-05T07:31:41Z'),
             ('time_coverage_start', '2009-05-29T18:35:42Z'),
             ('title', 'SBE 37 CTD Data')])

In [8]:
# Show the variables metadata, vocabulary equivalent in WaterFrame
remote.variables

OrderedDict([('time',
              {'_dataType': 'double',
               '_CoordinateAxisType': 'Time',
               'actual_range': (cftime.DatetimeGregorian(2009, 5, 29, 18, 35, 42, 0),
                cftime.DatetimeGregorian(2017, 12, 5, 7, 31, 41, 0)),
               'axis': 'T',
               'ioos_category': 'Time',
               'long_name': 'Date/Time',
               'source_name': 'Date/Time',
               'standard_name': 'time',
               'time_origin': '01-JAN-1970 00:00:00',
               'time_precision': '1970-01-01T00:00:00Z',
               'units': 'seconds since 1970-01-01T00:00:00Z'}),
             ('temperature',
              {'_dataType': 'float',
               'actual_range': (11.7101, 27.1452),
               'ioos_category': 'Temperature',
               'long_name': 'sea_water_temperature',
               'units': 'degC'}),
             ('conductivity',
              {'_dataType': 'float',
               'actual_range': (29.3952, 59.5073),
               'ioos_category': 'Other',
               'long_name': 'sea_water_eletrical_conductivity',
               'units': 'mS/cm'}),
             ('pressure',
              {'_dataType': 'float',
               'actual_range': (3.21, 21.708),
               'ioos_category': 'Pressure',
               'long_name': 'sea_water_pressure',
               'units': 'dbar'}),
             ('salinity',
              {'_dataType': 'float',
               'actual_range': (22.3408, 1539.23),
               'ioos_category': 'Salinity',
               'long_name': 'sea_water_salinity',
               'units': 'PSU'}),
             ('sound_velocity',
              {'_dataType': 'float',
               'actual_range': (1495.755, 1542.9),
               'ioos_category': 'Other',
               'long_name': 'speed_of_sound_in_seawater',
               'units': 'm/s'}),
             ('pH',
              {'_dataType': 'float',
               'ioos_category': 'Other',
               'long_name': 'sea_water_pH',
               'units': 'dmless'})])

In [9]:
# Make some data request of daily mean values
# 

variables = ['time', 'pressure', 'temperature', 'salinity']
remote.clearQuery()

df = (remote.setResultVariables(variables)
            .addConstraint({'time>=' : dt.datetime(2013,1,1)})
            .addConstraint({'time<=' : 'max(time)'})
            .orderByMean('time/1day')  # Request a server side operation
            .getDataFrame(header=0, names=variables, parse_dates=True, index_col='time')
     )
df

                            pressure  temperature   salinity
time
2013-04-10 00:00:00+00:00  19.452881    12.741023  37.943239
2013-04-11 00:00:00+00:00  19.436894    12.971672  37.945033
2013-04-12 00:00:00+00:00  19.431021    12.826318  37.922738
2013-04-13 00:00:00+00:00  19.441862    12.928260  37.925933
2013-04-14 00:00:00+00:00  19.419134    12.956201  37.914295
...                              ...          ...        ...
2017-12-01 00:00:00+00:00  19.373599    16.874540  37.157962
2017-12-02 00:00:00+00:00  19.385518    16.684279  37.298129
2017-12-03 00:00:00+00:00  19.452079    16.263324  37.157068
2017-12-04 00:00:00+00:00  19.467208    16.081971  37.037986
2017-12-05 00:00:00+00:00  19.418923    16.177531  37.015036

[923 rows x 3 columns]

In [10]:
# Create the WaterFrame object from the ERDDAP_Tabledap instance
import mooda as md

# Make the WaterFrame
wf = md.WaterFrame()
wf.data = df
wf.metadata = remote.info
# Just include in the vocabulary, the variables requested
wf.vocabulary = { key:value for key, value in remote.variables.items() if key in list(df.columns) }

wf

Memory usage: 32.104 KBytes
Parameters: